* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: cadetblue;
}

.header {
  height: 15vh;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.horariosMapa {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.horarios {
  background-color: red;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  background-color: orange;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  height: 65vh;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: gray;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
